# Configuración del servidor MySQL (Base de datos XAMPP / Local)
MYSQL_HOST=127.0.0.1
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=rock corporation
MYSQL_PORT=3306

# Credenciales de Administrador inicial por defecto
ADMIN_EMAIL=admin@rock.com
ADMIN_PASSWORD=Admin12345
